<h1>{{data}}</h1>
<div>    
    {{logDetails}}
    <button (click)='log()'>Log</button>
</div>
<div>    
    <button (click)='onPrev()'>Prev</button>
    <button (click)='onNext()'>Next</button>
</div>
<div class='table-responsive'>
<table class='table'>
<thead>
<tr>
    <td><input [ngModel]="isAllSelected()" (click)="onSelectAll()" type="checkbox" /></td>
    <th *ngFor='#column of columns'>{{column.text}}</th>
</tr>
</thead>
<tbody>
    <tr *ngFor='#item of items'>
        <td><input [ngModel]="isSelected(+item[0])" (click)="onSelectItem(+item[0])" type="checkbox" /></td>
        <td *ngFor='#column of columns, #i = index'>{{item[i + 1]}}</td>
    </tr>
</tbody>
</table>
</div>
