<h1>{{data}}</h1>
<label>{{pageDetails.text}}</label>
<div>Page Size: 
    <select [ngModel]="pageDetails.pageSize" (change)="onPageSizeChanged($event.target.value)">
        <option *ngFor="#pageSize of pageDetails.pageSizes">{{pageSize}}</option>
    </select>
</div>
<div>
    <paging [pageDetails]="pageDetails" (changed)="onPagingChanged()"></paging>
</div>
<div class='table-responsive'>
<table class='table'>
<thead>
<tr>
    <td><input [ngModel]="isAllSelected()" (click)="onSelectAll()" type="checkbox" /></td>
    <th *ngFor='#column of columns'>{{column.text}}</th>
</tr>
</thead>
<tbody>
    <tr *ngFor='#item of page.items'>
        <td><input [ngModel]="isSelected(+item[0])" (click)="onSelectItem(+item[0])" type="checkbox" /></td>
        <td *ngFor='#column of columns, #i = index'>{{item[i + 1]}}</td>
    </tr>
</tbody>
</table>
</div>
